{:builds
 {:test
  {:ns-regexp "async-interop.*-tests$"
   :output-to "out/test.js"
   :target :node-test
   :autorun true}}
 :dependencies [[org.clojure/core.async "0.4.500"]]
 :nrepl {:port 3333}
 :source-paths ["src/main" "src/test"]}